body{
	background-image: url(/img/logo.png);
	background-repeat: no-repeat;
	background-size: 23% auto;
    background-position: top;
}

.maxbox{
	margin: 20% auto; 
	margin-top: 18%;
	background-color: #81d3d2;
	text-align: center;
	width: 8rem;
	height: 4.2rem;
	border-radius: 45px;
}
h1{
	padding-top: 0.5rem;
	color:#efd9cd;
	font-size: 0.5rem;
}

.inputbox{
	margin-top: 0.1rem;
	
}
.inputText{
	margin-top: 0.1rem;
	font-size: 0.3rem;
	color: white;
}

.textArea {
	margin-top: 0.1rem;
	font-size: 0.3rem;
	color: #674b74;
	width: 2.6rem;
}

.inputButton{
	border: 0;
	margin-top: 0.4rem;
	width: 2rem;
	height: 0.8rem;
	font-size: 0.2rem;
	border-radius: 45px;
	color: white;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

 .comment{
	margin-top: 0.5rem;
	color: #674b74;
	font-size: 0.2rem;
}

span {
	display: inline-block;
	width: 2.6rem;
	text-align: left;
}