div.body {
    width: 95%;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.noticeTitle {
    text-align: center;
}

.noticeInfo {
    padding-top: 1rem;
    text-align: center;
}

.noticeContent{
    padding-top: 1rem;
}