<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/admin-style.css">
  <link rel="stylesheet" href="/css/admin-info.css">
  <script src="/js/jquery-3.5.1.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/admin-info.js"></script>
  <script>
  $.get(
        url = "/getAdminSession",
        function (data) {
            if(data==0){
                window.location.href="adminLogin.html";
            }
        },
        type = "text"
    )
</script>
</head>

<body class="user-select" onload="loaded()">
  <section class="container-fluid">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1 class="navbar-brand">Property Management System</h1>
          </div>
        </div>
      </nav>
    </header>


    <div class="row">
      <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
        <!-- <ul class="nav nav-sidebar">
          <li class="active"><a href="admin-index.html">Home Page</a></li>
        </ul> -->
        <ul class="nav nav-sidebar">
          <li><a href="admin-publish-news.html">Publish Notice</a></li>
          <li><a href="admin-news.html">Notices</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="admin-user-manage.html">User Management</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="admin-new-message.html">New Message</a></li>
          <li><a href="admin-received-items.html">Received Items</a></li>
          <li><a href="admin-sent-items.html">Sent Items</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="admin-info.html">Profile</a></li>
        </ul>
      </aside>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <!-- Write Content Here -->
        <table>
          <h1 class="tableTitle">Administrator Profile</h1>
          <tbody>
            <tr>
              <td>Administrator Id:</td>
              <td class="item" id="id"></td>
            </tr>
            <tr>
              <td>Administrator Account:</td>
              <td class="item" id="account"></td>
            </tr>
            <tr>
              <td>Name:</td>
              <td class="item"><input type="text" id="name"></td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td class="item"><input type="text" id="phone"></td>
            </tr>
            <tr>
              <td>Email:</td>
              <td class="item"><input type="text" id="email"></td>
            </tr>
            <tr>
              <td>Office:</td>
              <td class="item"><input type="text" id="office"></td>
            </tr>
            <tr>
              <td>Duty:</td>
              <td class="item"><input type="text" id="duty"></td>
            </tr>
          </tbody>
        </table>
        <div class="btninfos">
          <button class="btninfo" id="submit" onclick="change()">Submit</button>
          <button class="btninfo" onclick="logout()">Logout</button>
        </div>
      </div>
    </div>
  </section>
</body>

</html>