<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userLogin.css" />
    <script src="/js/login.js"></script>
    <script src="/js/jquery-3.5.1.js"></script>
    <title>User Login</title>
    <script>
        !function (n) {
            var e = n.document,
                t = e.documentElement,
                i = 640,
                d = i / 100,
                o = "orientationchange" in n ? "orientationchange" : "resize",
                a = function () {
                    var n = t.clientWidth || 320;
                    n > 640 && (n = 640),
                        t.style.fontSize = n / d + "px"
                };
            e.addEventListener && (n.addEventListener(o, a, !1), e.addEventListener("DOMContentLoaded", a, !1))
        }(window);
    </script>
</head>

<body>
    <div class="maxbox">
        <h1>USER LOGIN</h1>
        <div class="inputbox">
            <form>
                <div class="inputText">
                    <span>
                        House Number:
                    </span>
                    <span>
                        <input type="text" class="textArea" id="userAccount" />
                    </span>
                </div>
                <div class="inputText">
                    <span>
                        Password:
                    </span>
                    <span>
                        <input type="password" class="textArea" id="userPassword" />
                    </span>
                </div>
                <div class="inputText">
                    <input class="inputButton" type="button" value="LOGIN" id="loginButton" onclick="userLoginSubmit()" />
                </div>
            </form>
            <div class="comment">
                <p>If you are a staff, <a href="adminLogin.html">click here</a> to login.</p>
            </div>
        </div>
    </div>
</body>

</html>